.icon {
  position: relative;
  display: inline-block;
  margin: .2em .5em -.2em 0;
}
 
.icon::before,
.icon::after {
  content: "";
  position: absolute;
}

.icon-camera {
  width: 2em;
  height: 1.38em;
  background: #38B5C9;
  border-radius: .25em;
}

.icon-camera::before {
  height: 0;
  width: 1em;
  margin: -.35em 0 0 .5em;
  border-bottom: .35em solid #38B5C9;
  border-left: .188em solid transparent;
  border-right: .188em solid transparent;
}

.icon-camera::after {
  width: .55em;
  height: .55em;
  margin: .32em 0 0 .75em;
  border: .15em solid white;
  border-radius: 1em;
}